<material-card>
	<material-title>Online Version Check</material-title>
	<ul class="version-check">
		<li>
			<div></div>
			<h2>{{versionTest.status}}</h2>
			<p>{{versionTest.message}}</p>
		</li>
	</ul>
</material-card>

<material-card>
	<material-title>Logged in as</material-title>
	<ul class="login">
		<li>
			<div></div>
			<h2>{{login.username}}</h2>
			<p>{{login.message}}</p>
			<p ng-show="login.isadmin">You are an administrator</p>
			<p ng-hide="login.valid">Your useraccount is invalid, ask an administrator to add your user account</p>
		</li>
	</ul>
</material-card>


<material-card>
	<material-title>Configuration Status</material-title>
	<ul class="configtests">
		<li ng-repeat="item in configTests" class="config-test result-{{item.result | lowercase}}">
			<div></div>
			<h2>{{item.name}}</h2>
			<p>{{item.message}}</p>
		</li>
	</ul>
</material-card>